th{
    background-color: rgb(20, 100, 220);
    color: white;
}

.table{
    max-width: 97%;
}
.center {
    margin-left: auto;
    margin-right: auto;
  }
  h2.display-4 {
    padding-left: 20px;
}

